[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.21"
django-model-utils = "*"
django-taggit = "*"
pillow = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
django-angular = "*"
easy-thumbnails = "*"
djangular = "*"

[requires]
python_version = "3.8"
